//colors
$pink:#de4ae2;
$purple: #644AE2;
$white: #FFFFFF;
$gray: #696969;

.white{
  color: $white;
}

.dark{
  color: $gray;
}

//gradient

@mixin gradient {
background: linear-gradient(105deg, #de4ae2, #644ae2);
background-size: 400% 400%;

-webkit-animation: backgroundchange 13s ease infinite;
-moz-animation: backgroundchange 13s ease infinite;
animation: backgroundchange 13s ease infinite;

@-webkit-keyframes backgroundchange {
    0%{background-position:0% 59%}
    50%{background-position:100% 42%}
    100%{background-position:0% 59%}
}
@-moz-keyframes backgroundchange {
    0%{background-position:0% 59%}
    50%{background-position:100% 42%}
    100%{background-position:0% 59%}
}
@keyframes backgroundchange {
    0%{background-position:0% 59%}
    50%{background-position:100% 42%}
    100%{background-position:0% 59%}
}
}

@mixin dropshadow {
  -webkit-box-shadow: 3px 6px 16px -6px rgba(0,0,0,0.46);
  -moz-box-shadow: 3px 6px 16px -6px rgba(0,0,0,0.46);
  box-shadow: 3px 6px 16px -6px rgba(0,0,0,0.46);
}


body,html{
font-size: 16px;
width: 100%;
padding:0;
margin:0;
overflow-x: hidden;
font-family: Nunito, sans-serif;
color: $gray;
}

body{

h1,h2,h3,h4,{
  font-family: Nunito, sans-serif;
  font-weight:700;
}

p{
  font-family: Oxygen, sans-serif;
  font-kerning: 1.2;
}

h1{
  font-size: 3.2em;
}

h2{
  font-size: 1.7em;
  color: $purple;
}

h3{
  font-size: 1.4em;
  font-family: Oxygen, sans-serif;
  font-weight: 700;
  color: $purple;
}

h4{
  font-family: Oxygen, sans-serif;
  font-weight: 400;
  font-size: 1em;
  color:gray;
}

a{
  color: white;
  text-decoration: none;
}

button, .button_white{
  font-weight: 600;
  color: $purple;
  padding: 8px 25px;
  background-color: $white;
  border-radius: 4px;
  transition:.4s all;
  &:hover{
    opacity:.7;
    transition:.4s all;
  }
}

.button_purple {
  font-weight: 500;
  color: $white;
  padding: 8px 25px;
  @include gradient;
  border-radius: 4px;
}


section{
  float:left;
  width: 100%;
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1000px, 0, 0); /* The image width */
  }
}
@keyframes slide-back {
  0%{
    transform: translate3d(-1000px, 0, 0); /* The image width */
  }
  100%{
    transform: translate3d(0, 0, 0);
  }
}

  .header{
    @include gradient;
    height: 100%;
    overflow:hidden;
    .nav{
      width: 100%;
      padding: 20px 0;
      position: absolute;
      top:0;

      &_left{
        position:absolute;
        left:0;

        &_logo{
            width: 100px;
          img{

          }
        }
      }
      &_right{
        position:absolute;
        right:0;
        &_link{
          font-weight: 700;
          padding: 0 20px;

          color: white;
          &:hover{
            opacity: .7;
          }
        }
      }
    }
    &_back{
      overflow:hidden;
      opacity:.2;
      position: absolute;
      width: 100%;

    .sliding-back{
      width: 3000px;
      height: 224px;
    }
    .list-1{
      background: url("assets/images/booklist-1.png") repeat-x;
      animation: slide 80s linear infinite;
    }
    .list-2{
      background: url("assets/images/booklist-2.png") repeat-x;
      animation: slide-back 80s linear infinite;
    }
    .list-3{
      background: url("assets/images/booklist-3.png") repeat-x;
      animation: slide 80s linear infinite;
      }
    }
    &_banner{
      color: white;
      height: 100%;
      display:flex;
      align-items: center;
      top:0;

      &_left{
        justify-content: flex-start;
      }

      &_title{
        margin-bottom: 10px;
      }
      &_description{
        font-size: 1.1em;
      }
      &_cta{
        margin: 20px 0;
        float: left;
      }

      &_right{
        justify-content: flex-start;
        img{
          width: 100%;
        }
      }
    }
    &_status{
      width:100%;
      background-color: $white;
      padding: 20px 0;
      position:relative;
      @include dropshadow;
      position:absolute;
      bottom:0;

      &_text{
        text-align: left;
        margin-top:10px;
        font-size: 1.1em;
        color:$gray;
      }
      .button_purple{
        text-align: right;
        float: right;
      }
    }
  }
  .content_container{
    text-align: center;
  }
  .mission{
    display: flex;
    color: $gray;
    text-align:left;
    background-color: $white;
    .split{
      flex: 1;

    }
    .split-left{
      background-image:url(assets/images/kids.jpg);
      background-size:cover;
    }
    img{
      width:100%;
    }
    &_text{
      margin: 40px;
      padding: 40px;
    }
  }
  .awards{
    text-align: left;
    background-image:url('assets/images/kids.jpg');
    @include gradient;
    color:$white;
    padding:30px 0;
    img{
      width: 320px;
    }
  }
  .team{
    padding: 60px 0;
    .four{
      padding:20px;
    }
    p{
      font-size:14px;
    }
    h3{
      text-align:center;
      color: $purple;
      margin: 20px 0 5px 0;
    }
    h4{
      color:$gray;
    }
    img{
      width:100%;
    }
    .description{
      padding: 0 0 40px 0 ;
    }
  }
  .contact{
    @include gradient;
    padding: 80px 0;
    fieldset{
      border:0;
      input, textarea{
        width:100%;
        color:$gray
      }
    }
    h2{
      color:$white;
    }
    form{
      margin:0;
    }
    p{
      color:$white;
    }
    &_text{
      width:70%;
      margin-left: 15%;
      h2{
        margin-bottom: 6px;
      }
    }
  }
}

/* Larger than mobile */
@media (max-width: 600px) {
  body{
    font-size:14px !important;

  .header{
    height:80%;
  }

  .header_banner_title{
    font-size: 2.8em;
  }

  .header_status{
    height: 115px;
    text-align:center;
    &_text{
      text-align:center;
      margin-bottom:10px;
    }
    .button_purple{
      text-align:center;
      float:none;
    }
  }

  .header_banner_right{
    display:none;
  }
  .header .nav_right_link{
    padding: 0px 5px;
  }

  .mission {
    display:block;
    width:100%;
    margin-top:20%;
    .split{
    width:100%;
    flex:none;
    }
    .split-left{
      height: 220px;
    }
    &_text{
      padding:0;
      margin:40px 0 40px 0 ;
    }
  }
  .award_holder{
    padding: 0 30px 30px 30px;
    text-align:center;
    font-size:1.4em;
  }
  .contact_text{
    width:100%;
    margin:0;
  }
}
}
